* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  padding: 1em;
  min-height: 100vh;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  max-width: 1440px;
  margin: auto;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-bar {
  width: 25%;
  border: 0;
  outline: 0;
  padding: 10px;
}

.search-button {
  border: none;
  color: white;
  background-color: limegreen;
  width: 10%;
  min-width: 52px;
}

.users {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user {
  border: 2px solid red;
  padding: 1.5rem;
  margin: 2rem;
}
